@model Tsr.Core.Models.CertificationCertificateVM
@{
    ViewBag.Title = "Certificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Common/Scripts/Commondropdownjs.js"></script>
<ul class="breadcrumb push-down-0">
    <li><a href="#">Certification</a></li>
    <li class="active">Cerificate</li>

</ul>
<!-- END BREADCRUMB -->

<div class="page-content-wrap">
    <div>
        <div class="row">
            <div class="col-md-12">

                <div class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Certificate</h3>

                        </div>


                        <div class="panel-body">
                            @using (Html.BeginForm("Certificate", "Certification", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()


                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            Category
                                        </div>
                                        @Html.DropDownListFor(model => model.CategoryId
           , (IEnumerable<SelectListItem>)ViewBag.Categories, " ", new { @class = "form-control", @onchange = "FillCourse()" })
                                    </div>
                                </div>


                                <div class="col-lg-3">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            Course
                                        </div>
                                        @Html.DropDownListFor(model => model.CourseId,
                                         new SelectList(Enumerable.Empty<SelectListItem>(), "CourseId", "CourseName"), " ", new { @class = "form-control", @onchange = "FillBatch()" })
                                    </div>
                                </div>


                                <div class="col-lg-3">

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            Batch
                                        </div>
                                        @Html.DropDownListFor(model => model.BatchId,
                                         new SelectList(Enumerable.Empty<SelectListItem>(), "BatchId", "StartDate"), " ", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-lg-3">

                                    <div class="input-group">
                                        <input class="btn btn-primary" type="submit" value="View Certificate" />
                                      

                                    </div>
                                </div>



                            }
                        </div>

                        <div class="panel-body">
                            <div>
                                <div class="input-group">
                                    <input type="button" class="btn btn-primary" value="Print Div Contents" id="btnPrint" />
                                    </div>
                                    <div id="Grid">


                                        <table  style="width:100%; height:100%; padding:20px;border-collapse:separate;border-style: solid;border-width: 26px;-moz-border-image: url('../Img/border.png') 26 repeat;-webkit-border-image: url('../Img/border.png') 26 repeat;-o-border-image: url('../Img/border.png') 26 repeat;border-image: url('../Img/border.png') 26 fill repeat;" border="0" ; cellspacing="0">

                                            <thead>

                                                <tr>
                                                    <td colspan="1" rowspan="1">
                                                        <img src="~/Img/avatar.png" style="width:100px;height:120px;" />
                                                    </td>
                                                    <td colspan="14" rowspan="2" style="text-align:center">
                                                        <div style="text-align:center">
                                                            <span style="font-family:Arial;font-size:14px; font-weight:bold">SIR  MOHAMED  YUSUF  SEAMEN  WELFARE  FOUNDATION</span><br /><br />
                                                            Nhava,Panvel Taluka Dist. Raigad-410206,Maharashtra<br />
                                                            Tel : 022-27212800/900 Fax: 0222272112495<br />
                                                            Email ID: tsrahman@tsrahaman.org<br />
                                                            www.tsrahaman.org<br />
                                                            INDOS No.009<br />
                                                        </div>
                                                        <span style="font-family:'Old English Text MT';font-size:40px; font-weight:bold">Training Ship Rahaman</span>
                                                        <br />
                                                        @*<span style="font-size:25px"><i>DR.LEO BARNES PRE-SEA ACADEMY</i></span>*@
                                                        <br />
                                                        <h4 style="text-align:right">Certificate No.   0330590012017</h4>
                                                    </td>
                                                </tr>

                                                <tr></tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <th class="tg-yw4l" colspan="15">THIS IS TO CERTIFY THAT</th>
                                                </tr>
                                                <tr>
                                                    <td style="border-bottom: 1px solid black;" class="tg-db0a" colspan="15">KARTHIK KONAR</td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="1">Date of Birth</td>
                                                    <td style="border-bottom: 1px solid black;" colspan="5">12-03-1989</td>
                                                    <td align="center" class="tg-031e" colspan="5">Holder of C.D.C .No.</td>
                                                    <td style="border-bottom: 1px solid black;" colspan="4">C.D.C.No.1234</td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="3">Passport No.</td>
                                                    <td style="border-bottom: 1px solid black;" class="tg-032e" colspan="3">99999999999</td>
                                                    <td class="tg-yw4l" colspan="9">Certificate of Competency,(if any)</td>

                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="1">Grade:</td>
                                                    <td style="border-bottom: 1px solid black;" colspan="5">A</td>
                                                    <td class="tg-yw4l" colspan="1">No.</td>
                                                    <td style="border-bottom: 1px solid black;" colspan="7">9999999999999</td>
                                                    <td class="tg-yw4l" colspan="1">Indian National Database</td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="5">of Seafarers(INDoS No.)</td>
                                                    <td style="border-bottom: 1px solid black;" colspan="10">17HL3650</td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="15">has successfully completed a training course for Certificate of Profeciency In </td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="15"></td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="15"></td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="2">held from </td>
                                                    <td style="border-bottom: 1px solid black;" colspan="5">29-08-2017</td>
                                                    <td align="center" class="tg-yw4l">to</td>
                                                    <td style="border-bottom: 1px solid black;" colspan="7">29-08-2018</td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="15"></td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="8">Signature of Candidate:______________________</td>
                                                    @* <td style="border-bottom: 1px solid black;" colspan="5"></td>*@
                                                    <td align="center" class="tg-yw4l" colspan="7">_____________________________<br>Course Incharge<br>(Dr.Hemant Mehata)</td>

                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="3">Date of Issue:</td>
                                                    <td style="border-bottom: 1px solid black;width: 5px;" colspan="6">05-07-2017</td>
                                                    <td class="tg-yw4l" colspan="7"></td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="15">Date of Expiry: UNLIMITED</td>

                                                </tr>
                                                <tr>
                                                    <td class="tg-yw4l" colspan="8">
                                                        <div style="width:125px;height:135px;border:1px solid #000;text-align: center;">Photograph</div>
                                                    </td>
                                                    <td align="center" class="tg-yw4l" colspan="7">Principal<br />(Capt.(Dr.) Ashutosh Apandkar)<br /><br /><img src="~/Img/DNV LOGO.jpg" style="width:50px;height:100px;" /></td>

                                                </tr>


                                            </tbody>
                                            <tfoot>

                                            </tfoot>

                                        </table>
                                    </div>



                                </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>

   
</div>
<link href="~/Common/CSS/Certificate.css"  rel="stylesheet" />

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
        $("#btnPrint").live("click", function () {
            var divContents = $("#Grid").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>Certificate</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        });
</script>
