
@{
    ViewBag.Title = "Discontinue Student";
}

<!-- START BREADCRUMB -->
<ul class="breadcrumb push-down-0">
    <li><a href="#">Home</a></li>
    <li><a href="#">Admission</a></li>
    <li><a href="#">Discontinue Student</a></li>
    @*<li class="active">Error 404</li>*@
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <div>
        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Student List</h3>

                        </div>

                        <div class="panel-body">
                            <div style="border:solid; padding:18px">
                                @*<h4>Single Course</h4>*@
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="form-group">

                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownList("CategoryId",
                                                (IEnumerable<SelectListItem>)ViewBag.Categories, "Select Category", new { @class = "form-control", @onchange = "FillCourse()" })
                                                </div>

                                            </div>

                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownList("CourseId",
                   new SelectList(Enumerable.Empty<SelectListItem>(), "CourseId", "CourseName"),
              " ", new { @class = "form-control", @onchange = "FillBatch()" })
                                                </div>

                                            </div>

                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                    @Html.DropDownList("BatchId",
                   new SelectList(Enumerable.Empty<SelectListItem>(), "BatchId", "Name"),
              " ", new { @class = "form-control"})
                                                </div>

                                            </div>

                                            

                                        </div>
                                        <div class="form-group">

                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <input class="btn btn-primary" type="button" value="Search" onclick="Search()" />
                                                    &nbsp;&nbsp; <input type="button" class="btn btn-primary" value="Refresh Page" onClick="window.location.reload()">
                                                </div>

                                            </div>

                                        </div>


                                    </div>


                                </div>
                            </div>
                            <br /><br />
                            
                            <br /><br /><br />
                            <div id="dvResult">
                                @*@{Html.RenderPartial("ApplicantsList", Model);}*@

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>


    </div>


</div>
<!-- END PAGE CONTENT WRAPPER -->
<script>
  function FillCourse() {
      var CategoryId = $('#CategoryId').val();
    $.ajax({
        url: '/Application/FillCourse',
        type: "GET",
        dataType: "JSON",
        data: { CategoryId: CategoryId },
        success: function (Courses) {
            $("#CourseId").html(""); // clear before appending new list
            $("#CourseId").append(
                    $('<option></option>').val(0).html("Select Course"));

            $.each(Courses, function (i, c) {
                $("#CourseId").append(
                    $('<option></option>').val(c.CourseId).html(c.CourseName));
            });
        }
    });
  }

  function FillBatch() {
      var CourseId = $('#CourseId').val();
      $.ajax({
          url: '/Application/FillBatchAll',
          type: "GET",
          dataType: "JSON",
          data: { CourseId: CourseId },
          success: function (Batches) {
              $("#BatchId").html(""); // clear before appending new list
              $("#BatchId").append(
                      $('<option></option>').val(0).html("Select Batch"));

              $.each(Batches, function (i, c) {
                  $("#BatchId").append(
                      $('<option></option>').val(c.BatchId).html(c.Name));
              });
          }
      });
  }

  function Search() {
      var BatchId = $('#BatchId').val();

      $("#dvResult").load('@(Url.Action("DiscontinueSearch", "Admission",null, Request.Url.Scheme))?BatchId=' + BatchId);
  }
   
</script>


