<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
    <!-- TOGGLE NAVIGATION -->
    <li class="xn-icon-button">
        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
    </li>
    <!-- END TOGGLE NAVIGATION -->
    <!-- SIGN OUT -->
    <li class="xn-icon-button pull-right">
        <a href="#" class="mb-control" style="width:auto" data-box="#mb-signout"><span class="fa fa-sign-out"></span>Logout</a>
    </li>
    <!-- END SIGN OUT -->
    <!-- ChangePassword -->
    <li class="xn-icon-button pull-right">
        @*<a href="#" class="mb-control" style="width:auto" data-box="#mb-changePasswod"><span class="fa fa-sign-out"></span>Change Password</a>*@
        @Html.ActionLink("ChangePassword", "ChangePassword", "Account", null, new { data_modal = "", id = "btnCreate" , style= "width:auto"})
    </li>
    <!-- END SIGN OUT -->
   
</ul>

